@tailwind base;

@tailwind components;

@tailwind utilities;
.colgrid{ display: grid; grid-template-columns: 30% 70%;}

/* login */
.redColor {
    color: #F95757;

}

/* MenuNotas */
.bgNotas {
    background-color: #aca5a548;
}

/* Sidebar */
.bgSidebar {
    background-color: #82A0D8;
}

/* tareas */
.line {
    width: 85vw;
}

.tarea {
    background-color: #B5CB99;
}

.tareasenproceso {
    background-color: #F95757;
}

.tareasenrevision {
    background-color: #6499E9;
}

.materia{
    background-color: #E5CFF7;
     color: #5B0888;
}

.traductor{
    width: 1000px;
    height: 400px;
}

.traductorColor{
    background-color: #221E1E;
}

.traductorColor button{
    background-color: #82A0D8;
}

.botonsubir{
    background-color: #64CCC5;
}
